<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Document</title>
</head>
<body>
  <div class="page-header1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-caption">
                    <h1 class="page-title">Flexlogger Diagramme</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page-header-->
<!-- news -->
<div class="card-section">
    <div class="container">
        <div class="card-block bg-white mb30">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <!-- section-title -->
                    <div class="section-title mb-0">
                        <h2>Lassen Sie sich alle Diagramme sortiert anzeigen</h2>
                        <p>Wählen Sie ein Datum, um ein Diagramm anzeigen zu lassen</p>
                    </div>
                    <!-- /.section-title -->
                </div>
            </div>
        </div>

        </div>
        </div>


<div class="container">
<div class="row">
  <div class="col-sm-4">
    <h2 class="h2Top">Alle Diagramme</h2>
    <form [formGroup]="allForm" class="startOptions">
      <label>Anfangs Zeitraum</label>
      <input formControlName="dateBegin1" type="date">
      <input formControlName="timeBegin1" type="time">
      <label>End Zeitraum</label>
      <input formControlName="dateEnd1" type="date">
      <input formControlName="timeEnd1" type="time">
    </form>

    <button [disabled]="!allForm.valid" (click)="routeToAll()" class="submit">Diagramme anzeigen</button>
    <div *ngIf="getAllFormControl['dateEnd1'].invalid" class="alert alert-danger">
      <div *ngIf="getAllFormControl['dateEnd1'].errors && getAllFormControl['dateEnd1'].errors['dateMustBeBigger']">Startdatum darf nicht nach Endzeit liegen!</div>
    </div>
    <div *ngIf="getAllFormControl['dateBegin1'].invalid" class="alert alert-danger">
      <div *ngIf="getAllFormControl['dateBegin1'].errors && getAllFormControl['dateBegin1'].errors['timeMustBeBigger']">Startzeit darf nicht nach Endzeit liegen!</div>
    </div>
  </div>

  <div class="col-sm-4">
    <h2 class="h2Top">Ein Diagramm</h2>
    <form [formGroup]="oneForm" class="startOptions">
      <label>Anfangs Zeitraum</label>
      <input formControlName="dateBegin2" type="date">
      <input formControlName="timeBegin2" type="time">
      <label>End Zeitraum</label>
      <input formControlName="dateEnd2" type="date">
      <input formControlName="timeEnd2" type="time">
      <label>Name</label>
      <input formControlName="dataName2">
    </form>
    <button [disabled]="!oneForm.valid" (click)="routeToOne()" class="submit">Diagramm anzeigen</button>
    <div *ngIf="getOneFormControl['dataName2'].touched && getOneFormControl['dataName2'].invalid" class="alert alert-danger">
      <div *ngIf="getOneFormControl['dataName2'].errors && getOneFormControl['dataName2'].errors['required']">Bitte füllen Sie einen Namen ein.</div>
    </div>
    <div *ngIf="getOneFormControl['dateEnd2'].invalid" class="alert alert-danger">
      <div *ngIf="getOneFormControl['dateEnd2'].errors && getOneFormControl['dateEnd2'].errors['dateMustBeBigger']">Startdatum darf nicht nach Endzeit liegen!</div>
    </div>
    <div *ngIf="getOneFormControl['dateBegin2'].invalid" class="alert alert-danger">
      <div *ngIf="getOneFormControl['dateBegin2'].errors && getOneFormControl['dateBegin2'].errors['timeMustBeBigger']">Startzeit darf nicht nach Endzeit liegen!</div>
    </div>
  </div>


  <div class="col-sm-4">
    <h2 class="h2Top">CSV File generieren</h2>

    <form [formGroup]="csvForm" class="startOptions">
      <label>Anfangs Zeitraum</label>
      <input formControlName="dateBegin3" type="date">
      <input formControlName="timeBegin3" type="time">
      <label>End Zeitraum</label>
      <input formControlName="dateEnd3" type="date">
      <input formControlName="timeEnd3" type="time">
      <!--<label>nur ein Datenpunkt </label>
      <input (change)="showNameField(($event))" type="checkbox">
      <label *ngIf="showField">Name des Datenpunkts</label>
      <input *ngIf="showField" formControlName="dataName3">-->
      <label>Name des Datenpunkts</label>
      <input placeholder="only fill out if needed" formControlName="dataName3">
    </form>
    <button [disabled]="!csvForm.valid" (click)="generateCSV()" class="submit">CSV File generieren</button>
    <a href="http://localhost:8081/logEntry/download/" download="monitor.csv"><button>Download</button></a>
    <div *ngIf="getCsvFormControl['dataName3'].touched && getCsvFormControl['dataName3'].invalid" class="alert alert-danger">
      <div *ngIf="getCsvFormControl['dataName3'].errors && getCsvFormControl['dataName3'].errors['required']">Bitte füllen Sie einen Namen ein.</div>
    </div>
    <div *ngIf="getCsvFormControl['dateEnd3'].invalid" class="alert alert-danger">
      <div *ngIf="getCsvFormControl['dateEnd3'].errors && getCsvFormControl['dateEnd3'].errors['dateMustBeBigger']">Startdatum darf nicht nach Endzeit liegen!</div>
    </div>
    <div *ngIf="getCsvFormControl['dateBegin3'].invalid" class="alert alert-danger">
      <div *ngIf="getCsvFormControl['dateBegin3'].errors && getCsvFormControl['dateBegin3'].errors['timeMustBeBigger']">Startzeit darf nicht nach Endzeit liegen!</div>
    </div>
    <div *ngIf="getCsvFormControl['dataName3'].invalid" class="alert alert-danger">
      <div *ngIf="getCsvFormControl['dataName3'].errors && getCsvFormControl['dataName3'].errors['noValues']">Ihre Auswahl enthält keine Daten!</div>
    </div>
  </div>
</div>


</div>
</body>
</html>
